<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p style="width: 50%; font-size: larger;"> <%= contactContent %> </p>
    <ul style="font-size: larger;">
        <li>EMAIL : barmecha99@gmail.com</li>
        <li>PHONE : 9898865148</li>
        <li>ADDRESS : SURAT, GUJARAT</li>
    </ul>
<%- include("partials/footer"); -%>
